
.cards-header{
display: flex;
flex-direction: column ;
justify-content: flex-start;
gap: 8px;
margin-bottom: 24px;
}
.cards-title {
    font-size: 24px;
    color: #fafafa;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.game-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cards-title-caption{
    display: flex;
     font-size: 18px;
    color: #fafafa;
}


/* card container */
.card-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 24px;
padding:  8px 0;
}
